.button_1 {

    font-style: italic;
    font-size: 50px;
    background-color: red;
    height: 100px;
    width: auto;
}


body {


    background-color: rgb(8, 0, 0);
    mask-image: url(img/bat1.jpg)
}


.unmask {


    color: red;
    padding-top: 0%;
    font-size: 120px;
    margin-top: auto;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;


}

.the_batman {


    font-size: 280px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    border-left-color: black;
    border-style: initial;
    color: red;
    contain: layout;
    align-content: center;


}

.bat1 {

    width: 1000px;
    height: auto;

}


.bat2 {

    color: black;
    size: 30cm;
    width: 800px;
    height: auto;

}

.quote {

    color: red;
    font-family: 'Courier New', Courier, monospace;
    font: italic;
    font-size: 80px;

}


.alfa {

    color: rgb(10, 244, 10);
    font-style: italic;

}


.HAHAHA {

    font-size: 28px;
    color: red;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;


}


button {


    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    color: rgb(8, 0, 0);
    background-color: #0f0101;
    border-style: none;
    font-size: 40px;

}

input {

    color: rgb(248, 12, 12);
    background-color: black;
    border-style: none;


}

h1 {

    color: red;
    font-family: 'Courier New', Courier, monospace;
    font-size: 280px;
    font-style: italic;

}

.foot {

    color: rgb(250, 6, 6);
    font-size: large;
    font-display: inherit;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;

}


h6 {


    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
    font-stretch: ultra-expanded;

}

.foot_pic {

    padding: right 100px;
    width: 30px;
    height: auto;

}

.green {

    color: green;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;


}